/* Write your styles */


/**
*  @auther: zoolsher
*  @name : pagination
*/

.am-util-pagination-zool>li {
    display: inline-block;
    border: 1px solid;
    padding: 2px;
}

.am-util-pagination-zool>li>a {
    float: left;
}

.am-util-pagination-zool {
    word-spacing: -6px;
}

.am-util-pagination-zool-center {
    text-align: center;
    padding-left: 0px;
}


/**
*   end of pagination
*/
*
.am-list .am-badge{
    float: right;
}

.am-create-proj{
    width: 100%;
    box-shadow: 1px 2px 4px 0px gray;
}
.am-create-proj>button{
    width: 100%;
}

.zo-box-shadow{
    -webkit-box-shadow: 6px 6px 7px -7px rgba(0,0,0,0.63);
    -moz-box-shadow: 6px 6px 7px -7px rgba(0,0,0,0.63);
    box-shadow: 6px 6px 7px -7px rgba(0,0,0,0.63);
}

.am-topbar-collapse{
    box-shadow: 0px 3px 8px 0px gray;
}

/**
 * zo-cover
 */
.zo-cover{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 9999;
    height: 100vh;
    background-color: rgba(48, 78, 66, 0.81);
}
.zo-blur{
    -webkit-filter: grayscale(100%); /* Chrome, Opera */
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);

    /*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); /* IE6~IE9 */
}
/**
 * end-zo-cover
 */

/*the sign-in style start*/
.auth-form{
    width:340px;
    margin:0 auto;
}

.auth-form-header{
    padding:10px 0;
    margin-bottom:15px;
    color:#333;
    text-align:center;
    text-shadow:none;
    background-color: transparent;
    border:0;
}
.auth-form-header h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}
.auth-form-body{
    padding:20px;
    font-size:14px;
    background-color:#fff;
    border:1px solid #d8dee2;
    border-radius:5px;
}
.auth-form-body div{
    margin-top:5px;
    margin-bottom:15px;
}

.form-input{
    display:block;
    width:100%;
    padding:7px 8px;
    font-size:15px;
    vertical-align:middle;
    background-repeat: no-repeat;

}

/*.am-btn-primary{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}*/

.form-btn {
    margin-top:5px;
    display: block;
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
/*sign-in end*/